/* Body CSS */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    /* height: 10000px; */
    overflow-x: hidden;
    color: white;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgb(200, 196, 196);
    border-radius: 10px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.lines {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.553);
    height: 6px;
    width: 35px;
    margin: 6px 0px;
    border-radius: 3px;
}

/* Header.js CSS  */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    padding: 10px 25px;
    display: block;
    color: white;
    background-color: rgb(0, 0, 0);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

header .navbar {
    width: 100%;
}

header .navbar .logo {
    display: inline;
    text-decoration: line-through;
    font-size: larger;
    font-size: 40px;
    margin: 10px 0px;
}

header .navbar .nav {
    display: block;
    position: relative;
    float: right;
    line-height: 2.5;
    /* text-outline: 10px 10px #000; */
}

header .navbar .shownavbar {
    display: none;
    position: absolute;
    right: 25px;
    top: 15px;
    line-height: 2.5;
    z-index: 2;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}


header .navbar .nav li {
    display: inline;
    margin: 10px 10px;
}

header .navbar .nav li:hover,
.active {
    text-decoration: underline;
    text-transform: uppercase;
    color: yellow;
}

@media only screen and (max-width :500px) {
    header {
        background-color: transparent;
    }
    header .navbar .nav {
        display: none;
        position: relative;
        background: rgba(46, 45, 45, 0.615);
        float: right;
        line-height: 2.5;
    }
    
    header .navbar .shownavbar {
        display: block;
    }

    header .navbar .nav li {
        display: block;
        width: 130px;
        margin: 10px 10px;
    }

    header .navbar .hidden {
        display: none;
    }

    header .navbar .visible {
        display: block;
    }
}


/* home.js css */
.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home .container .col-1 {
    width: 50%;
    /* text-align: center; */
}

.home .container .col-2 {
    width: 50%;
    margin: auto auto;
    text-align: center;
}

.home .container .col-2 img {
    height: 500px;
    border: 2px solid white;
}

@media only screen and (max-width :620px) {
    .home .container {
        display: block;
        width: 100%;
    }

    .home .container .col-1 ,.col-2{
        width: 100%;
        text-align: center;
    }
    .home .container .col-2 img {
        height: 300px;
        border: 2px solid white;
    }
}

/* about.js  */
.about{
    width: 90%;
    margin: auto;
    line-height: 1.5;
}


.about h1,h2{
    color: yellow;
    margin: 10px 0px;
}

.about li{
    list-style: disc;
    margin: 0px 25px;
}


/* project.js  */
#Project {
    line-height: 1.5;
    width: 95%;
    margin: auto;
}

.details {
    margin: 20px;
}

.project {
    padding: 20px;
}

.project .col-1 {
    display: flex;
    width: 100%;
}


.project .col-1 img {
    height: 100px;
}

.project .col-1 .col-1-1 {
    width: 50%;
}

.project .col-1 .col-1-1 li {
    list-style: disc;
    margin: 0px 25px;
}

.project .col-1 .col-1-2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width :500px) {
    .project .col-1 {
        display: block;
        width: 100%;
    }

    .project .col-1 .col-1-1,
    .col-1-2 {
        width: 100%;
    }
}

.project .col-2 {
    /* display: flex; */
    width: fit-content;
    margin: 20px auto;
}

.project .col-2 p {
    margin-top: 20px;
    font-weight: bold;
}

.project .col-2 img {
    height: 100%;
    width: 100%;
}

/* contact.js  */


.contact section {
    margin: 20px;
}

.contact section .col-1 {
    margin: 20px 0px;
}

.contact section .col-2 .contact-links {
    display: flex;
    justify-content: center;
    width: fit-content;
    /* margin: auto; */
}

.contact section .col-2 .contact-links img {
    height: 35px;
    padding: 0px 20px;
    width: fit-content;
}